<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>veriffcar: A car renting application</title>
  <title>veriffcar: A car renting application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    .min170 {
      min-width: 170px;
    }

    .bgDarkBlue {
      background-color: #003c6d;
    }

    .bgLightBlue {
      background-color: #bdccdc;
    }

    .bgLighterBlue {
      background-color: #f0f4f8;
    }

    #leftSidebarFlex {
      height: calc(100vh - 56px);
    }
  </style>
</head>

<body class="bgLighterBlue">

  <div id="app">

    <nav class="py-2 navbar navbar-expand-sm navbar-dark bgDarkBlue">
      <a class="navbar-brand" href="#">Veriff CarRent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="ml-auto form-inline mt-3 my-sm-0">
          <input v-model="searchKeyword" class="form-control mr-sm-2" type="search" placeholder="Search"
            aria-label="Search">
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row flex-sm-nowrap" id="leftSidebarFlex">
        <div class="d-none d-sm-flex bgLightBlue">
          <nav class="p-3 min170">
            <button class="d-block mb-2 btn btn-dark w-100" @click="getCars()">Refresh</button>
            <button class="d-block mb-2 btn btn-dark w-100" @click="resetData()">Reset data</button>
          </nav>
        </div>

        <main class="flex-fill col-md-9 col-xl-10 py-3 pl-3 bd-content" role="main">
          <h2 class="h3 font-weight-light pb-2">Cars</h2>

          <p v-if="!filteredResults.length">No results found. Try removing your filters.</p>

          <table v-if="filteredResults.length" class="table  table-sm table-hover">
            <thead class="thead-light">
              <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="car in filteredResults" :key="car.id">
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td :class="'text-' + carStatusColors[car.status]">{{ carStatuses[car.status] }}</td>
                <td>
                  <button class="btn btn-sm btn-outline-dark" v-if="car.status === 'available'"
                    @click="rent(car)">Rent</button>
                  <button class="btn btn-sm btn-outline-dark" v-if="car.status === 'rented'"
                    @click="returnCar(car)">Return</button>
                </td>
              </tr>
            </tbody>
          </table>

        </main>
      </div>
    </div>

  </div>
  <script>
    var carApi = {
      async resetData() {
        await axios.get("/api/car/resetData");
      },
      async list() {
        const apiResponse = await axios.get("/api/car/list");
        return apiResponse.data.data;
      },
      async rentCar(carId) {
        const apiResponse = await axios.get(`/api/car/${carId}/rent`);
        const url = apiResponse.data.data
        window.location.href = url;
      },
      async returnCar(carId) {
        const apiResponse = await axios.get(`/api/car/${carId}/return`);
      }
    }

    var carStatuses = {
      available: "Available",
      rented: "Rented",
      pendingVerification: "Pending Verification",
    }
    var carStatusColors = {
      available: "success",
      rented: "danger",
      pendingVerification: "warning"
    }


    var app = new Vue({
      el: '#app',
      data: {
        cars: [],
        carStatusColors,
        carStatuses,
        searchKeyword: "",
      },
      async created() {
        this.getCars();
      },
      computed: {
        filteredResults() {
          const keyword = this.searchKeyword.toLowerCase();

          return this.cars.filter(c => {
            return JSON.stringify(c).toLowerCase().includes(keyword);
          });
        }
      },
      methods: {
        async getCars() {
          this.cars = await carApi.list();
        },
        async rent(car) {
          await carApi.rentCar(car.id);
          this.getCars();
        },
        async returnCar(car) {
          await carApi.returnCar(car.id);
          this.getCars();
        },
        async resetData() {
          await carApi.resetData();
          this.getCars();
        }
      }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>